nav{
    height: 85px;
    width: 100%;
    background-color: orange;
    direction: rtl;
    position: absolute;
    top: 0px;
    vertical-align: middle;
    line-height: 84px; 
    font-size: 20px;
}
.button{
    display: inline-block;
    background: none;
    border: none;
    font-size: 20px;
}
.button:hover{
    background-color: wheat;
}
#sunImg{
    height: 85px;
    width: 207px;
    position: absolute;
    left: 0px;
    background-color: #ffffff00;
}
#h1{
    margin-top: 70px;
    text-align: center;
}
#byCity{
    text-align: center;
    margin-top: 60px;
}

#card{
    min-height: 212px;
    width: 305px;
    text-align: center;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    background-color: lightsalmon;
    color: black;
    border: 1px solid black;
    position: relative;
}

#c{
    margin-right: 100px;
}

#addB{
    margin-left: 172px;
    background-color: green;
    border: 1px solid green;
}

#addB:hover{
    background-color: darkgreen;
    border: 1px solid darkgreen;
    color: white;
}
#BlogOut{
    background-color: red;
    border: none;
    font-size: 20px;
    }
    #BlogOut:hover{
        color: white;
    }

#p4{
    position: absolute;
    bottom: -13px;
    left: 35px;
}
#p3{
    position: absolute;
    left: 129px;
}