<div id="welcome">
   

<nav>
    <h2 id="p1" style="display: inline-block;">שלום אורח, היתחבר באמצעות חשבון גוגל:</h2> 
    <input type="text" placeholder="choose your Hometown" #Ht style="margin-right: 20px;text-align: left;">
    <button id="B1" (click)="loginWithGoogle()" (click)="getMainCity(Ht.value)"><img id="Bgoogle" src="../../assets/2dywpzc.png"></button>
     <img id="sunImg" src="../../assets/sun1.png">
</nav>



<div id="h1"><h1>Wheather api</h1></div>

<div id="textBox1" style="position: absolute;right: 40px;top: 300px;padding: 10px;">
 <p>  
<b>שלום אורח</b>,<br>נישמח אם תיצור מישמתמש באתר שלנו <br>ותישלח לנו חוות דעת לאימייל:<b>daniel.daniel.ran@gmail.com</b> ,תודה
</p>
</div>

<div id="textBox2">

<p>
<b>:למה כדאי לפתוח מישתמש</b> <br>
,תוכלו ליבדוק בזמן אמת את מזג האוויר בכל עיר בעולם<br>
,תוכלו ליצור רשימת ערים מועדפות שיופיעו באופן קבוע בדף הבית<br>
תוכלו ליבחור את עיר המגורים שלכם שתיתעדכן ותופיע בדף הבית שלכן באופן קבוע
</p>


</div>



</div>
